.chat-btn{
    position: fixed;
    right: 14px;
    bottom: 30px;
    cursor: pointer;
    background-color: blue;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 22px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;    
}